body {
  background-color: antiquewhite;
}

.div-search {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.div-form {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 30px;
}

.input-form {
  width: 280px;
  height: 40px;

  font-size: 20px;

  border-radius: 7px;

  outline: none;
}

.input-form:hover {
  border-color: aqua;
}

.gallery {
  display: grid;
  grid-template-columns: 375px 375px 375px 375px 375px;
  grid-column-gap: 15px;
  grid-row-gap: 15px;

  justify-content: center;

  margin-top: 50px;
  margin-bottom: 50px;

  padding: 0;

  list-style: none;
}

.pnotify-text-with-max-height {
  overflow-y: unset;
}

.pnotify-container {
  width: 310px !important;
  height: 60px !important;
}

.pnotify-pre-line {
  font-size: 20px;
}

.image {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.stats {
  display: flex;
  justify-content: space-around;
}

.photo-card {
  overflow-y: hidden;
  overflow-x: hidden;

  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  border-radius: 10px;

  cursor: pointer;
}

.material-icons {
  margin-right: 5px;
  color: rgb(163, 163, 163);
}

.stats-item {
  display: flex;
  align-items: center;

  color: rgb(163, 163, 163);
}

.btn {
  width: 100px;
  height: 32px;

  margin-left: 10px;

  cursor: pointer;

  border-radius: 7px;

  background-color: cadetblue;
}

#go-top {
  position: fixed;
  bottom: 25px;
  right: 70px;
  text-align: center;
  cursor: pointer;
  display: none;
  width: 80px;
  height: 80px;
  background: #c0c0c0;
  line-height: 80px;
  border-radius: 50%;
}

#go-top:hover {
  background: #333;
  color: #fff;
}

.is-hidden {
  display: none;
}

.search-form {
  display: flex;
  align-items: center;
}

.load {
  width: 100px;
  height: 32px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  display: block;

  cursor: pointer;

  border-radius: 7px;

  background-color: cadetblue;
}

.ishidden {
  visibility: hidden;
}
